<!-- <div class="jumbotron"> -->
<div class="results">
<div class="results">
  <div class="results-persona col-md-6" style = "padding-right: 0px;">
  <div class="persona-title">Essay Input</div>
    <div class="persona-top2 skill">
      <div class="row">
          <div class="detailedTitle">
        <div>
          <h5>
            Teacher
          </h5>
          <div>
            <input class = "new-candidate" type = "text" placeholder = "Teacher" ng-model="newEssay.teacher" capitalize>
          </div>
        </div>
        <div>
          <h5>
            Class
          </h5>
          <div>
            <input class = "new-candidate" type = "text" placeholder = "Class" ng-model="newEssay.classs" capitalize>
          </div>
        </div>
        <div>
          <h5>
            Grade
          </h5>
          <div>
            <input class = "new-candidate" type = "text" placeholder = "Grade" ng-model="newEssay.grade">
          </div>
        </div>
        <div>
	        <h5>Essay</h5>
	        <textarea class = "new-candidate" style = "width: 98%;height:110px" placeholder = "Copy Essay" ng-model="newEssay.essay"></textarea>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCandidate();">Submit</button>
      </div> 
      </div>
      </div>
      </div>
      </div>
  <div class="results">
  <div class="results-persona col-md-6" style = "padding-right: 0px;">
  <div class="persona-title">Results</div>
    <div class="persona-top3 skill">
      <div class="row">
        <div class="col-md-6" style="height:120px;">
          <div class="detailedTitle" style="valign:middle;">
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="getAllResults();">Show All Results</button>
	      </div> 
        </div>
       </div>
	</div>
    </div>
  </div> 
  </div>
          


